.figure-pyramid {
  background: hsl(185, 100%, 50%);
}

.figure-square {
  background: hsl(123, 100%, 50%);
}

.figure-line {
  background: hsl(54, 100%, 50%);
}

.figure-s {
  background: hsl(229, 100%, 50%)
}

.figure-z {
  background: hsl(0, 100%, 50%);
}

.figure-j {
  background: hsl(278, 100%, 50%)
}

.figure-l {
  background: hsl(27, 100%, 50%);
}
