.figure-pyramid {
  background: purple;
}

.figure-square {
  background: navy;
}

.figure-line {
  background: chartreuse;
}

.figure-s {
  background: crimson;
}

.figure-z {
  background: orange;
}

.figure-j {
  background: darkgreen;
}

.figure-l {
  background: magenta;
}
