.figure-f {
  background: hsl(0, 100%, 50%);
}

.figure-i {
  background: hsl(30, 100%, 50%);
}

.figure-l {
  background: hsl(60, 100%, 50%);
}

.figure-n {
  background: hsl(90, 100%, 50%);
}

.figure-p {
  background: hsl(120, 100%, 50%);
}

.figure-t {
  background: hsl(150, 100%, 50%);
}

.figure-u {
  background: hsl(180, 100%, 50%);
}

.figure-v {
  background: hsl(210, 100%, 50%);
}

.figure-w {
  background: hsl(240, 100%, 50%);
}

.figure-x {
  background: hsl(270, 100%, 50%);
}

.figure-y {
  background: hsl(300, 100%, 50%);
}

.figure-z {
  background: hsl(330, 100%, 50%);
}
